# Основні залежності для MVP
requests==2.31.0
beautifulsoup4==4.12.2
lxml==4.9.3
python-dotenv==1.0.0
sqlalchemy==2.0.23
alembic==1.13.1
click==8.1.7

# Для геолокації
geopy==2.4.1

# Для асинхронних HTTP запитів
aiohttp==3.9.1

# Для автоматичного планувальника завдань
apscheduler==3.10.4

# Для ротації логів
# (вже входить в стандартну бібліотеку Python)

# Для анти-блокувань та ротації User-Agent
fake-useragent==1.4.0

# Для моніторингу процесів
psutil==5.9.0